@import "tailwindcss";

@theme {
  --color-dark-bg: #0a0a0a;
  --color-dark-card: #171717;
  --color-dark-card-hover: #262626;
}

body {
  @apply bg-dark-bg text-white font-sans antialiased;
  margin: 0;
}
